@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger">
    <p>Mã sinh viên:2310900115</p>
    <p>Họ tên:Trần Thanh Tùng</p>
    <p>email:tung@gmail.com</p>
    <p>Điện thoại 0975874058</p>
    <p>Lớp:k23CNT3-Net</p>
</div>