@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-danger">
    <p>@ViewData["Title"]</p>
    <p>Mã sinh viên:2310900115</p>
    <p>Họ và tên:Trần Thanh Tùng</p>
    <p>Ngày sinh:30/05/2005</p>
    <p>Email:tungt2005@gmai.com</p>
    <p>Điện thoại:0975876540</p>
    <p>Lớp: K23CNT3</p>
</div>
