@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-danger">
    <p>@ViewData["Title"]</p>
    <p>Mã sinh viên:</p>
	<p>Họ và tên:</p>
    <p>Ngày sinh:</p>
    <p>Email:</p>
	<p>Điện thoại:</p>
    <p>Lớp: K23CNT3</p>
</div>
