@model TttLab06.Models.TttEmployee

@{
    ViewData["Title"] = "Thêm nhân viên";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="TttCreateSubmit" method="post">
    <div class="mb-3">
        <label>Họ tên</label>
        <input asp-for="TttName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Ngày sinh</label>
        <input asp-for="TttBirthDay" class="form-control" type="date" />
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="TttEmail" class="form-control" />
    </div>
    <div class="mb-3">
        <label>SĐT</label>
        <input asp-for="TttPhone" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Lương</label>
        <input asp-for="TttSalary" class="form-control" />
    </div>
    <div class="mb-3 form-check">
        <input asp-for="TttStatus" class="form-check-input" />
        <label class="form-check-label">Đang làm việc</label>
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="TttIndex" class="btn btn-secondary">Hủy</a>
</form>
