@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@model List<TttLap03.Models.TttAccount>

<h2>Danh sách tài khoản</h2>

<div class="row">
    @foreach (var acc in Model)
    {
        <div class="col-md-4 text-center">
            <img src="~/images/@acc.Image" class="img-fluid" alt="avatar" />
            <h3>@acc.FullName</h3>
            <p>@acc.Bio</p>
            <a href="/TttAccount/TttProfile?email=@acc.Email" class="btn btn-success">Profile</a>
        </div>
    }
</div>
